---
layout: default
---


<div class="post">
  <article>
    
    <div class="clearfix">{{ content }}</div>
    

    <div class="Lab_summary" style="text-align: center">
      <h1> Medical Robotic Systems Lab</h1>
      
      <p> We develop next generation of medical robotics systems by exploring novel robotic actuation and sensing methods, and integrating medical imaging, robotic autonomy and artificial intelligence into medical robotic systems. </p>
      <br line-height="75%">  
      <a href="/Projects/">Learn More</a>
    </div>
    

    <br line-height="100%">  
    <hr>
  </article>
</div>
<!-- 
<div class="lab-strip">
  <div class="strip-item">
    <img src="/assets/img/mri_powered_microrobot.png" alt="Lab2">
  </div>
  <div class="strip-item">
    <img src="/assets/img/mri_powered_microrobot.png" alt="Lab2">
  </div>
  <div class="strip-item">
    <img src="/assets/img/mri_powered_microrobot.png" alt="Lab2">
  </div>
  <div class="strip-item">
    <img src="/assets/img/mri_powered_microrobot.png" alt="Lab2">
  </div>
</div> -->


<div class="post">
  <article>
    <!-- <br line-height="100%">   -->

    <!-- <hr> -->

    <div class="Hiring" style="text-align: center">

      <h1> Looking for Teammates!</h1>
      <p>We are continuously looking for talented Master's, Doctoral students, and Postdoctoral researchers, as well as motivated undergraduate researchers/interns. </p>
      <br line-height="75%">  
      <a href="/Opportunities/index.html">Opportunities</a>


    </div>

    <br line-height="100%">  
    <hr>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
    <div class="News" style="text-align: center">
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    </div>
    {% endif %}

    <br line-height="100%">  
    <hr>
    
    <div class="affliations"  style="text-align: center">
        <h2> Affliations </h2>
        <p> Institute logos ...</p>
    </div>

    <br line-height="100%">  
    <hr>

    <div class="fundings"  style="text-align: center">
        <h2> Fundings </h2>
        <p> Funding Agencies ...</p>
    </div>

  </article>
</div>
